@page
@model RazorToDoApp.Pages.Forms.CustomPizzaModel
@{
}

<a class=nav-link text-dark" asp-area="" asp-page="/Checkout/Checkout">Checkout</a>
<div class="text-center container">
	<h1>Create Your Own Pizza!</h1>
	<form method="post" >
		<input type="text"  placeholder="Pizza name"/>
		<br/>
		<input type="checkbox" />Chesse
		<br/>
		<input type="checkbox"  />Mushroom
		<br />
		<button class="btn btn-primary mt-1" type="submit">Create</button>
	</form>
</div>