@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ToDo App</h1>
    <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="/login">Login</a>
</div>
