@page
@model RazorToDoApp.Pages.LoginModel
@{
}

<div class="container border" style="padding:20px">
	<h1>Login to TaskManager App</h1>
	<form method="post" >
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="Credentials.UserName">Username</label>
			</div>
			<div class="col-5">
				<input type="text" asp-for="Credentials.UserName" class="form-control"/> 
			</div>
			<span class="text-danger" asp-validation-for="Credentials.UserName"></span>
		</div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="Credentials.Password">Password</label>
			</div>
			<div class="col-5">
				<input type="password" asp-for="Credentials.Password" class="form-control" />
			</div>
			<span class="text-danger" asp-validation-for="Credentials.Password"></span>
		</div>

		<button class="btn btn-primary mt-1" type="submit">Create</button>
	</form>
</div>