@page
@model RazorToDoApp.Pages.TasksModel
@{
}

@section Head {
	<link rel="stylesheet" href="~/css/Task.css" asp-append-version="true" />
}
<form method="post" class="d-flex justify-content-center flex-column">
	<div class="form-group row d-flex justify-content-center">
		<div class="col-1">
			<label asp-for="Task.Name">Name</label>
		</div>
		<div class="col-5">
			<input type="text" asp-for="Task.Name" class="form-control" />
		</div>
	</div>
	<button class="btn btn-primary mt-1 w-25 align-self-center" type="submit">Add Task</button>
</form>

@foreach (var task in ViewData["taskList"] as IEnumerable<RazorToDoApp.Models.DbToDoTask>)
{
	<div class="d-flex task">
		<form method="post" asp-page-handler="Edit" class="d-flex task-name-form">
			<input type="text" name="name" value="@task.Name" class="task-name" />
			<input type="hidden" name="id" value="@task.Id" />
			<button class="task-button">Change name</button>
		</form>
		<form method="post" asp-page-handler="Delete" class="d-flex task-delete">
			<button class="task-button">Delete</button>
			<input type="hidden" name="id" value="@task.Id" />
		</form>
	</div>
}
